*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body
{
    background-color: black;
    font-family: 'Crimson Text', serif;
}
/* Banner Section */

.banner-wrapper
{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    justify-content: space-between;
    align-items: center;
    color: #00f5d4;
    padding: 150px 50px;
}

.left-side-banner{
    text-align: center;
}
.left-side-banner h2
{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.left-side-banner p
{
    margin-bottom: 20px;
    font-size: 25px;
    color: #37b19e7c;
}
.left-side-banner button{
     padding: 20px;
     border-radius: 10px 20px;
     background-color: #2d6a4f;
     color: white;
     font-size: 25px;
     cursor: pointer;
}
.left-side-banner button:hover
{
    background-color: white;
    color: black;
}

.right-side-banner img
{
    width: 100%;
    animation-name: animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;  
    animation-timing-function: ease-in-out;
}

@keyframes animation
{
    25%{
        margin-right: 20px;
    }
    50%{
        margin-left: 20px;
    }
}

.right-side-banner img:hover
{
 transition: 0.5s;
 transform:scale(1.1);
}



/*      Blog Section      */


/* Nav Buttons Section */

.nav
{
    padding: 100px 0;
    position: fixed;
    width: 150px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color:#8ecae686;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.nav ul li{
    list-style: none;

}
.nav ul li a{
    text-decoration: none;
    color:#edede9;
    font-size: 20px;
    margin: 10px 30px;
    display: block;
    padding: 10px;
}

.nav ul li a:hover 
{
    background-color: rgba(255,255,255,0.4);
    transition: 0.4s;
}

/*      Blog Section      */

.blog-container
{
    color: #b5e2fa;  
}
.blog-container h1
{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}
.blog-images
{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    align-items: center;
    padding-left: 50px;
    justify-content: space-around;
}
.blog-post
{
    margin-bottom: 20px;
    gap: 10px;
}
.blog-post img
{
    width: 80%;
    height: 300px;
    gap: 10px;
    box-shadow: 3px 3px 3px #ced4da88;
    border-radius: 10px;
}

.blog-post h5
{
        color: #bbd0ff80;
        margin-top: 5px;
        margin-left: 5px;
}
.blog-post p 
{
    font-size: 20px;
    width: 80%;
    margin-top: 10px;
    color: #0fa3b1;
}
.blog-container h6
{
    text-align: center;
    font-size: 30px;
    font-family: serif;
    margin-top: 30px;
}
.blog-container h6 button
{
    font-size: 30px;
    background-color: #2d6a4f;
    color: white;
    padding: 30px;
    border-radius: 20px 10px;
    cursor: pointer;  
}

.blog-container h6 button:hover
{
    background-color: white;
    color: black;
}

/* Footer Section */
.footer
{
    color: #2b2d42;
    background-color: #caf0f85e;
    text-align: center;
    margin-top: 100px;   
    padding-top: 40px;
}
.footer p
{
    margin-bottom: 10px;
    font-size: 20px;
}
.footer input
{
    width: 300px;
    height: 25px;
    border-radius: 10px;
    background-color: #caf0f8 ;
}
.footer button
{
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #219ebc;
    color: #e5e5e5;
}
.footer button:hover
{
    color: black;
    background-color: #fff;
    cursor: pointer;
}
.footer a
{
    font-size: 25px;
    color: black;
}
.ancor
{
    padding: 0 50px;
    color: #2a9d8f;
}

/* Upcoming Match section */

.main-wrapper
{
    background-color: rgba(0, 0, 0, 0.699);
    height: auto;
}
.main-wrapper h1
{
    color: white;
    text-align:center;
    font-size: 50px;
    margin-bottom: 50px;
}

.match-container
{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    background-color: #415a77;
    color: #f5e6e8;
    text-align: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;    
}
.both-side img
{
    width: 20px;
    
}

/* All Groups */

.group-section
{
    color: #43bccd;
    text-align: center;
    border-top: 2px solid white;
}
.group-section h1
{
    font-size: 50px;
    margin-bottom: 100px;
    font-weight: bolder;
}

.Group-wrapper
{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    /* background-color: white; */
}
.main
{
   text-align: center;
   margin-bottom: 20px;
   background-color: #415a77;
   width: 300px;
   border-radius: 20px;
}
.group-div
{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    /* background-color: #2d6a4f; */
    margin-bottom: 20px;
}
.group-div img
{
    width: 50%;
    height: 35%;
    padding: 10px;
}

/*      Resoponsive      */

@media screen and (min-width: 100px) and (max-width: 500px)
{
    .banner-wrapper
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
       
    }
    .left-side-banner
    {
        margin-bottom: 50px;
    }
    .blog-images
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .blog-container h6 button
    {
        display: none;
    }
    .Group-wrapper
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-left: 15%;
    }  
    .match-container
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}    

@media screen and (min-width: 500px) and (max-width: 1000px)
{

    .banner-wrapper
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .left-side-banner
    {
        margin-bottom: 50px;
    }
    .blog-images
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .blog-container h6 button
    {
        display: none;
    }
    .Group-wrapper
    {
        display: grid;
        grid-template-columns: repeat(2,2fr);
    }  
}
